.Taskform{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-task{
    width: 350px;
    height: 35px;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid #3d3b3b;
}

.btn-task {
    height: 35px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #565656;
    background-color: #565656;
    color: #f2f2f2;
    padding: 5px;
    font-size: 14px
}